*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
header{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}
.logo{
    font-size: 30px;
    font-weight: 700;
    color: white;
}
.navlist{
    display: flex;
}
.navlist a{
    color:  white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.navlist a:hover{
    border-bottom: 2px solid white;
}
#menu-icon{
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.contact-page{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #71d0ff 0%, #1279b1 28.53%, #0825c8 75.52%);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
section{
    padding: 0 19%;
}
.contact-text h5{
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 20px;
}
.contact-text h1{
    font-size: 60px;
    line-height: 1;
    color: white;
    margin: 0 0 45px;
}
.info{
    color: white;
    font-size: 15px;
    line-height: 1.9;
    margin-left: 10px;
    margin-bottom: 20px;
}
.contact-img img{
    width: auto;
    height: 700px;
}