@font-face {
  font-family: 'Poppins';
  src: url('../public/Poppins-Regular.otf') format('opentype');
  /* You can specify additional font weights and styles here if needed */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.centeredContainer {
  text-align: center;
  display: flex;
  align-content: center;
}

.trixxImage {
  width: 80%;
  display: inline !important;
}

*:focus {
  outline: 0;
  outline: none;
}

.home {
  background-image: url('../public/cdalake.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  margin-bottom: 1000px;
  background-position: top right;
}

.fade-in {
  opacity: 0;
  transition: opacity 1.5s ease;
}

.fade-in.is-visible {
  opacity: 1;
}

